{%extends "base.html" %}
{% block body_block %}

<div class="hero-unit">

  <font face='arial'  color='royalblue'><h3> Articles</h3> </font>

</div>

{% for arti in article_list %}

    <li>{{arti.title}} {{arti.author}} </li>

{% endfor %}

{% if page_obj.has_previous %}
  <a href= "?page={{ page_obj.previous_page_number }}">previous page &lt;&lt; </a>
{% endif %}
 
<span class="current">
  &nbsp;Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
</span>
 
{% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}"> &gt;&gt; next page</a>
{% endif %}


{% endblock %}