{%extends 'base.html' %}

{% block body_block %}
    <div class="hero-unit">
      <h1>{{ category_name }}</h1>
    </div>
       
 
     <ul> <h2>Overview </h2>
      {{category.overview}}
     </ul>

     <ul> 
        <h2>Register of Articles:</h2> 
         
          {% if category.article_set.all %}  
          <table  border="5" width="80%"  cellpadding="2" >
            <thead> 
              <tr> 
                <th> ID of Article </th> <th> Title of Article</th> <th> Author</th><th> Voices</th> 
              </tr>
            </thead> 
            <tbody>
            {% for artic in articlesss%}
            <tr>
               <td><center>{{artic.id}}  </center></td>
               <td><ul><a href="{% url "article-view" pk=artic.id  category_name_url=category.name %}">{{ artic.title }}</a> </ul></td>
               <td> <center>{{artic.author}} </center></td>
               <td> <center>{{artic.voices.count}} </center></td>
            </tr>
            {% endfor %} 
            </tbody>
          </table>  
 
          <div class="pagination">
            <span class="step-links">
               {% if articlesss.has_previous %}
                 <a href= "?page={{ articlesss.previous_page_number }}">previous page &lt;&lt; </a>
               {% endif %}
 
               <span class="current">
                 &nbsp;Page {{ articlesss.number }} of {{articlesss.paginator.num_pages }}
               </span>
 
               {% if articlesss.has_next %}
                 <a href="?page={{ articlesss.next_page_number }}"> &gt;&gt; next page</a> 
               {% endif %}
            </span>
           </div>
                      
          {% else %}
             <strong>No articles currently in category: {{category_name}}.</strong>
          {% endif %}
    </ul>



     <ul>        
            {% if pages %} <h2>Useful links</h2>
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category: {{category_name}}.</strong>
            {% endif %}
     </ul>
{% endblock %}

{% block sidebar %}
<UL class="nav nav-list">
  <LI class="nav-header"><h3>Top Articles </h3></LI>
       
        {% if category.article_set.all %}  
          <ul>  
                {% for artic in article_list%}
                <li><a href="{% url "article-view" pk=artic.id  category_name_url=category.name %}">{{ artic.title }} </a> ({{artic.voices.count}})</li>
                {% endfor %}
        </ul>
        {% else %}
        <strong>No article at present.</strong>
        {% endif %}
</UL>


<UL class="nav nav-list"> </UL>
  <LI class="nav-header"><h3>Options </h3></LI>
  
  {% for groups in user.groups.filter %}
        {% for perm in groups.permissions.filter %}
           {% if 'Can add article' == perm.name %}
           
      <ul><h4><strong>with permission </strong></h4>
   
       <form action="{% url "article-new"  category_name_url=category.name %}" method='get'>
          <button type='submit' class="btn btn-primary"> add new article </button>
        </form>
       </ul> 
          {% endif%}

      {% endfor %}
 
{% endfor %}
 
 
{% endblock %}

{% block sidebarr %}
<UL class="nav nav-list"> </UL>
  <LI class="nav-header"><h3>Search </h3></LI>
<form action='' Method="post" >
  
Find article with the keyword: <BR><BR>

<INPUT TYPE="text" SIZE="10" MAXLENGTH="8"> <BR> 
<UL><INPUT TYPE="submit" VALUE="Find"></UL>
 
</form>

{% endblock %}