
{%extends "base.html" %}
{% block body_block %}
<div class="hero-unit">

  <font face='arial'  color='royalblue'><h3>Delete Article</h3> </font>




<p>Are you sure you want to delete the article {{ article.title }}?</p>

<form action="{% url "article-delete" pk=article.id category_name_url=article.category.name   %}" method="POST">
  {% csrf_token %}



<button type="submit" class="btn btn-primary"> "Yes, delete." </button>
  
  <a href="{% url "studypage" %}">No, cancel.</a>
</form>
</div>
{% endblock %}