{%extends "base.html" %}
{% block body_block %}

<div class="hero-unit">
  <font face='arial'  color='royalblue'>
  	<h3> {% if article.id %}
  	          Edit Article 
         {% else %}
              You can add new article now 
         {% endif %} 
         
    </h3> 
  </font>

<form action="{{ action }}"   method="POST">
    {% csrf_token %}
     <ul>   
       {{ form.as_ul }} 
     </ul>
  <button id="save_article"  class="btn btn-primary"  type="submit"> save article </button>
</form>
   <a href="/rango/study/{{ category.url }}">back to study</a>
</div>
{% endblock %}