{%extends "base.html" %}

{% block body_block %}
<div class="hero-unit">

{% if categories %}
            <ul>
                {% for category in categories %}
                
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/study/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
</div>

{% endblock %}