{% extends "base.html" %}

{% block title %}UserProfile{% endblock %}

{% block body_block %}
<div class="hero-unit">
<font face='arial'  color='royalblue'><h2>User profile</h2> </font>

    
    {% if user.userprofile.info %}
        <p><strong>Info about me:</strong> {{ user.userprofile.info }}</p>

    {% else %}   
        <p>Info about me:</p>
    {% endif %}
  
    {% if user.userprofile.website %}
        <p><strong>Website:</strong> <a href="{{ user.userprofile.website }}">{{ user.userprofile.website }}</a></p>

    {% else %}   
        <p>Website:</p>

    {% endif %}
        
    {% if user.userprofile.picture %}
            <img src="{{ user.userprofile.picture.url }}"  />

    {% else %}   
        <p>Picture:</p>
    {% endif %}
 <ul>
    <form action="{% url "userprofile-edit"  pk=user.id  %}" method='get'>
       <button type='submit' class="btn btn-primary"> edit user profile </button>
    </form>
 </ul>
       
<a href="{% url "frontpage"   %}">back to my account</a>
   
</div>
{% endblock %}

{% block sidebar %}
<UL class="nav nav-list"> 
  <LI class="nav-header"><h3> info and questions</h3></LI>
       <li>What is my "User profile"?</li>
       <li>Is it visible for another users?</li>
       <li>What is "Info about me"?</li>
  </UL>  

{% endblock %}