{% extends "base.html" %}

{% block title %}UserProfile{% endblock %}

{% block body_block %}
<div class="hero-unit">
<font face='arial'  color='royalblue'><h2>User profile</h2> </font>

    
    {% if userprofile.info %}
        <p>Info about me: {{ userprofile.website }}</p>

    {% else %}   
        <p>Info about me:</p>
    {% endif %}
  
    {% if userprofile.website %}
        <p>Website: <a href="{{ userprofile.website }}">{{ userprofile.website }}</a></p>

    {% else %}   
        <p>Website:</p>

    {% endif %}
        
    {% if userprofile.picture %}
            <img src="{{ userprofile.picture.url }}"  />

    {% else %}   
        <p>Picture:</p>
    {% endif %}

      
       
<a href="{% url "frontpage"   %}">back to my account</a>
    


    


</div>
{% endblock %}