{%extends "base.html" %}
{% block body_block %}
<div class="hero-unit">
  <font face='arial'  color='royalblue'><h3>Add personal permissions</h3> </font>

<form action="{{ action }}" method="POST">
  
  
  <table border="1" width="100%" cellspacing="1" cellpadding="1">
  {% csrf_token %}
  	
  
  <tbody>
    {%for field in form%}
           <tr>
           <td>  {{field.label}}</td> <td> br</td>
  		
    </tr>
    {%endfor%}
      
 
    
    </tbody>
  
</table>
  <button id="save_user" type="submit" class="btn btn-primary"> save User groups</button>


</form>


<a href="{% url "usergroups-list" pk=user.id  %}">back to User groups </a>
</div>
{% endblock %}