{%extends "base.html" %}
{% block body_block %}
<div class="hero-unit">

<font face='arial'  color='royalblue'><h2>My groups and actual permissions</h2> </font>

     
<ul> 
    
  {% for groups in user.groups.filter %}
      <li class="user">group {{ groups }} </li> 
      {% for perm in groups.permissions.filter %}
        <ul class="user">{{ perm.name }}: </ul> 
      {% endfor %}
  {% endfor %}
 

</ul> 
<ul> 
<form action="{% url "groups-edit"  pk=user.id  %}" method='get'>
<button type='submit' class="btn btn-primary"> You can change this  now! </button>
</form>
</ul> 
 


<a href="{% url "frontpage"   %}">back to my account</a>
</div>

        
     
    
{% endblock %}

